{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [],
  "env": {
    "test": {
      "presets": [
        "@babel/react",
        [
          "@babel/env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}